div[class*="field-name"]{
  display: table;
  width: 100%;
  border-bottom: 2px #CCCCCC solid;
  border-left: 2px #CCCCCC solid;
  border-right: 2px #CCCCCC solid;
}

div[class*="field-name"]:first-child{
  border-top: 2px #CCCCCC solid;
}

div[class*="field-name"]>.field-label,
div[class*="field-name"]>.field-items{
  display: table-cell;
  width: 50%;
  padding: 10px;
}

div[class*="field-name"]>.field-items{
  border-left: 2px #CCCCCC solid;
}

.entity-field-collection-item div[class*="field-name"]{
  border: none;
}

.entity-field-collection-item div[class*="field-name"]>.field-items,
.entity-field-collection-item div[class*="field-name"]>.field-label{
  padding: 0;
  border: none;
}

.pdf-field {
  display: table;
  width: 100%;
  border-bottom: 2px #6c6c6c solid;
  border-left: 2px #6c6c6c solid;
  border-right: 2px #6c6c6c solid;
}

.pdf-field:first-child{
  border-top: 2px #6c6c6c solid;
}

.pdf-field .col-md-6{
  display: table-cell;
  width: 50%;
  padding: 10px;
}

.pdf-field .col-md-6:nth-child(even){
  border-left: 2px #6c6c6c solid;
}

.pdf-field .field-label{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

.group-beliefs,
.group-reference-3,
.group-step-2,
.group-step-4,
.group-step-7{
  page-break-before: always;
}

hr{
  display: none;
}
.entity-field-collection-item .field-type-text,
.entity-field-collection-item .field-type-taxonomy-term-reference{
  display: inline;
}

.entity-field-collection-item .field-type-text .field-items{
  width: 100%;
}

.entity-field-collection-item .field-type-text .field-label,
.entity-field-collection-item .field-type-taxonomy-term-reference .field-label{
  display: none;
}

legend{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
