#block-multistep-application ul {
  margin: 0px auto;
  width: 350px;
}

#block-multistep-application ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
}

#block-multistep-application ul li span,
#block-multistep-application ul li a {
  font-size: 0;
  background-color: #aaa;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
}

#block-multistep-application ul li span.multistep-active,
#block-multistep-application ul li a.multistep-active {
  background-color: #666;
}

.node-application-form .multistep {
  margin-top: 30px;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

.node-application-form .multistep > h1 {
  display: none;
}

.node-application-form .multistep .ui-accordion-header {
  background: #f5f5f5;
  border-color: #dddddd;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2em;
  color: #474948;
}

.node-application-form .multistep .field-group-accordion-active.ui-accordion-header {

}

.node-application-form .multistep .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  right: .5em;
  left: inherit;
}

.node-application-form .multistep .ui-accordion .field-group-accordion-item,
.node-application-form .multistep .ui-accordion-content {
  background: #f0f0f1;
  border-color: rgb(221, 221, 221);
}

.node-application-form .multistep .panel-body {
  background: #f0f0f1;
}

.node-application-form .form-actions {
  text-align: right;
  margin-top: 20px;
}

.node-application-form .form-actions button {
  margin-left: 10px;
}

.node-application-form .multistep .form-type-radios .form-radios {
  display: inline-block;
  margin-left: 20px;
}

.node-application-form .multistep .form-type-radios .form-radios .form-item {
  display: inline-block;
  margin-right: 10px;
}

.node-application-form .multistep .field-name-field-what-site-want .form-type-radios .form-radios,
.node-application-form .multistep .field-name-field-what-site-want .form-type-radios .form-radios .form-item {
  display: block;
}

.node-application-form .multistep .group-app-2-roles .description span {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-item-field-volunteer-interests-roles-und > label {
  display: none;
}

.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-item-field-volunteer-interests-roles-und .name,
.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-item-field-volunteer-interests-roles-und .field-vol-roles-time {
  font-weight: bold;
}

.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-item-field-volunteer-interests-roles-und .field-vol-roles-time {
  position: absolute;
  right: 0px;
}

.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-item-field-volunteer-interests-roles-und .description .field-content {
  margin-top: 15px;
  text-align: left;
}

.node-application-form .multistep .field-name-field-volunteer-interests-roles .form-type-checkbox {
  margin: 10px 0px;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 20px;
  padding-bottom: 10px;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper > .description,
.node-application-form .multistep .group-app-7-final .description {
  margin-bottom: 20px;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-select-or-other-buttons .form-item,
.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-options-buttons .form-item {
  margin-bottom: 0px;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-select-or-other-buttons:before,
.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-options-buttons:before {
  width: 7px;
  height: 8px;
  background: black;
  border-radius: 6px;
  content: ' ';
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  margin-top: 7px;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-select-or-other-buttons > .form-item,
.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-options-buttons > .form-item {
  margin-left: 20px;
  margin-bottom: 20px;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-select-or-other-buttons > .form-item label,
.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-options-buttons > .form-item label,
.node-application-form .multistep .group-app-6-things .form-item label {
  font-weight: normal;
}

.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-select-or-other-buttons > .form-item .form-radios,
.node-application-form .multistep .group-app-4-list .field-group-format-wrapper .form-wrapper.form-group.field-widget-options-buttons > .form-item .form-radios,
.node-application-form .multistep .group-app-6-things .form-item .form-radios {
  display: block;
}

.node-application-form .multistep .date-form-element-content-multiline {
  padding: 0px;
  border: none;
}

.node-application-form .multistep .group-app-7-final .form-item input {
  vertical-align: middle;
}

.node-application-form .multistep .group-app-7-final .form-item .help-block {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
  font-size: 14px;
  color: black;
  padding-left: 10px;
}

