@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: rgba(71, 73, 72, 0.85);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8)
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.ui-timepicker-table td a {
  width: 2em;
}

a.tabledrag-handle .handle {
  height: 23px;
  width: 23px;
}

.table-responsive {
  overflow: inherit;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 1px solid #ddd;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.novo-applications-create-edit-form-btn {
  margin: 20px auto;
  display: block;
  width: 200px;
}

#ui-datepicker-div {
  z-index: 2 !important;
}

.novo-entity-add-btn {
  float: right;
  clear: both;
  overflow: hidden;
}

.novo-entity-add-btn span {
  margin-left: 3px;
}

.view-class .views-field-field-program-day ul {
  margin: 0px;
}

.view-class .views-field-field-program-day .field-collection-item-field-program-day {
  display: inline-block;
}

.view-class .views-field-field-program-day .field-name-field-program-weekday,
.view-class .views-field-field-program-day .field-name-field-program-time {
  display: inline-block;
}

.novo-title-published-0 {
  color: gray;
}

.field-name-field-faq-q {
  font-family: "ProximaNovaBold";
}

.pane-user-login {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 0px 40px 20px;
}

.pane-user-login .form-actions {
  text-align: center;
}

.pane-user-login .form-actions button {
  min-width: 200px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding-left: 5px;
}

.select2-container-multi .select2-choices .select2-search-choice div {
  margin-right: 15px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  left: inherit;
}

.views-exposed-form label, th {
  font-family: ProximaNovaBold;
}

.novo-no-data-found {
  margin: 20px 0px;
}

.node-application .field-name-field-phone-number,
.node-application .field-name-field-phone-type {
  display: inline-block;
}

.contact-us-container {
  position: fixed;
  bottom: 0;
}
.modal#novo-contact-us-block{
  display: block!important;
  visibility: hidden;
}
.modal.in#novo-contact-us-block{
  visibility: visible;
}
.modal.in#novo-contact-us-block .modal-dialog {
  transform: translateY(0);
}
.modal#novo-contact-us-block .modal-dialog {
  transform: translateY(100%);
}
.modal#novo-contact-us-block .modal-dialog {
  position: fixed;
  bottom: 0;
  left: 20%;
  margin: 0;
  max-width: 20em;
  -webkit-transition: all 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
  -moz-transition: all 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: all 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.novo-select-color-block {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
}

.novo-canvassing-group-wrapper,
.novo-small-group-wrapper{
  color: #fff;
  font-family: ProximaNovaBold;
  margin: 0px 20px;
  padding: 0px 10px;
}

.draggableviews-changed-notice {
  color: red;
}

.novo-glyphicon{
  padding: 6px;
  color: rgba(71, 73, 72, 0.85);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  font-size: 0.9em;
}
.novo-glyphicon.glyphicon-arrow-right{
  padding-right: 5px;
}

li.novo-leaf a{
  padding-left: 10px;
  padding-right: 10px;
}

.container-inline-date .form-item .novo-input-group input{
margin-right: 0;
}

.novo-input-group .input-group-addon{
  width: auto;
  color: #777777;
  background-color: #ffffff;
}

.btn.icon-before .glyphicon.novo-glyphicon-remove {
  top: 3px;
  margin: 0;
}