.navbar-default {
  background-color: rgba(71, 73, 72, 0.85);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8)
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.field-name-field-phone .field-name-field-phone-number,
.field-name-field-phone .field-name-field-phone-type {
  display: inline-block;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.field-name-field-phone .field-name-field-phone-number input.form-text {
  width: 200px;
}

.field-name-field-phone .field-name-field-phone-type select.form-select {
  width: 100px;
  display: inline-block;
}

.ui-timepicker-table td a {
  width: 2em;
}

a.tabledrag-handle .handle {
  height: 23px;
  width: 23px;
}

.field-name-field-program-kids-list .table-responsive {
  overflow: inherit;
}

.novo-select-color-block {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
}