.node-program-form .novo-select-color-block {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
}

.node-program-form .field-name-field-program-volunteers-list .select2-container.select2-container-multi,
.node-program-form .field-name-field-program-staff-list .select2-container.select2-container-multi {
  padding: 0px;
  height: auto;
}

.node-program-form .field-name-field-program-volunteers-list .select2-choices,
.node-program-form .field-name-field-program-staff-list .select2-choices {
  background: none;
  border: none;
}

.node-program-form .field-p-kid-name {
  width: 450px;
}

.node-program-form .field-name-field-p-kid-name {
  max-width: 300px;
  min-width: 100px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
}

.node-program-form .field-name-field-p-parent-sign,
.node-program-form .field-name-field-p-photo-release,
.node-program-form .field-name-field-p-text-parent {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 6px;
  vertical-align: top;
}

.node-program-form .field-name-field-p-small-group .bootstrap-select.form-select,
.node-program-form .field-name-field-p-canvassing-group .bootstrap-select.form-select {
  display: inline-block;
  max-width: 200px;
  margin-left: 0px;
}

.node-program-form .field-name-field-p-small-group .bootstrap-select.form-select {
  max-width: 200px;
}

.node-program-form .field-p-group-wrapper {
  margin-top: 15px;
}

.node-program-form .field-p-group-wrapper .field-name-field-p-small-group,
.node-program-form .field-p-group-wrapper .field-name-field-p-canvassing-group {
  display: inline-block;
}

.node-program-form .field-p-group-wrapper .field-name-field-p-small-group {
  margin-right: 30px;
}

.node-program-form .field-name-field-program-time .panel.form-wrapper {
  border: none;
  background: none;
  box-shadow: none;
}

.node-program-form .field-name-field-program-time .panel-heading {
  display: none;
}

.node-program-form .field-name-field-program-time .panel-body {
  padding: 0px;
}

.node-program-form .field-name-field-program-time .panel-body > .form-item {
  display: inline-block;
  margin-right: 20px;
}

.node-program-form .field-name-field-program-time .panel-body > .form-item:last-child {
  margin-right: 0px;
}

.node-program-form .field-name-field-program-weekday {
  display: inline-block;
  width: 210px;
  margin-bottom: 0px;
  margin-right: 30px;
}

.node-program-form .field-name-field-program-time {
  display: inline-block;
  margin-bottom: 0px;
}

.node-program-form .field-name-field-program-weekday .form-control.form-select {
  display: inline-block;
  max-width: 120px;
  margin-left: 10px;
}

.node-program-form .field-name-field-program-day tr.draggable td button.form-submit {
  margin-left: 20px;
}

.node-program-form .form-item-title {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

.node-program-form .field-name-field-program-school-year {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.node-program-form .field-name-field-program-school-year .date-form-element-content {
  border: none;
  padding: 0px;
  max-width: 300px;
}

.node-program-form .field-name-field-program-location {
  display: inline-block;
  vertical-align: top;
  min-width: 380px;
  margin-left: 20px;
}

.node-program-form .field-name-field-program-location .form-control.form-select {
  max-width: 300px;
}

.node-program-form .field-name-field-program-kids-list table .tabledrag,
.node-program-form .field-name-field-program-kids-list table .field-multiple-drag,
.node-program-form .field-name-field-program-kids-list .tabledrag-toggle-weight-wrapper,
.node-program-form .field-name-field-program-day table .tabledrag,
.node-program-form .field-name-field-program-day table .field-multiple-drag,
.node-program-form .field-name-field-program-day .tabledrag-toggle-weight-wrapper {
  display: none;
}

.node-program-form .field-name-field-program-kids-list table thead tr th {
  padding: 0px 0px 7px 7px;
}

.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(1),
.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(2),
.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(3) {
  width: 50px;
}

.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(1) label,
.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(2) label,
.node-program-form .field-name-field-program-kids-list table thead tr th:nth-child(3) label {
  -moz-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  font-size: 12px;
}

.node-program-form .field-name-field-program-day table td,
.node-program-form .field-name-field-program-kids-list table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.node-program-form .field-name-field-program-kids-list .field-p-parent-sign,
.node-program-form .field-name-field-program-kids-list .field-p-photo-release,
.node-program-form .field-name-field-program-kids-list .field-p-text-parent {
  text-align: center;
}

.node-program-form .sticky-header {
  z-index: 3 !important;
}

.node-program-form .select2-container {
  padding: 0px;
  border: none;
}

.node-program-form .select2-container .select2-choice {
  height: 32px;
}

.node-program-form .select2-container .select2-chosen {
  height: 100%;
}

.node-program-form .novo-program-kid-data {
  float: right;
  margin: 5px 25px 5px 0px;
  width: 60px;
}

.node-program-form .novo-program-kid-data .novo-program-kid-data-age {
  margin-right: 25px;
}

.node-program-form .novo-program-kid-data .novo-program-kid-data-age,
.node-program-form .novo-program-kid-data .novo-program-kid-data-grade {
  display: inline-block;
  width: 15px;
}

.node-program-form .novo-program-kid-data-header {
  width: 100px;
  float: right;
}

.node-program-form .novo-program-kid-data-header .novo-program-kid-data-header-age {
  margin-right: 10px;
}