/*.rotatable {*/
  /*-webkit-transform: rotate(-180deg);*/
  /*-moz-transform: rotate(-180deg);*/
  /*-o-transform: rotate(-180deg);*/
  /*-ms-transform: rotate(-180deg);*/
  /*transform: rotate(-180deg);*/
/*}*/
.nametag-block {
  width: 2.25in;
  height: 3.5in;
  font-size: 14px;
  text-align: center;
  border: 1px solid gray;
  font-family: sans-serif;
}
.nametag-row {
  height: 0.32in;
  /*border: 1px solid red;*/
  overflow: hidden;
}
.nametag-row-big {
  height: 0.6in;
  padding-top: 5px;
}
.nametag-row-b1 {
  font-size: 26px;
}
.nametag-row-b2 {
  font-size: 18px;
}
.nametag-row-label {
  font-weight: bold;
}
.nametag-dismissal {
  padding-top: 36px;
}
.nametag-canvassing {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5px;
}
.nametag-row-allergies {
  color: gray;
  height: 0.55in;
  position: relative;
}
.nametag-row-allergies-wrapper {
  position: absolute;
  bottom: 0px;
  margin: 0px auto;
  width: 100%;
}